<div class="sub-title-wrapper mb-3">
    <h3>Buttons</h3>
    <p>Buttons allow users to take an action. They are structured by importance and available in 2 sizes. All of them
        have 3 states. <br>They may take other colours in cases of validation process. Button’s label (Call-To-Action)
        should be short and decisive.</p>
</div>

<p class="mb-1">Primary 56 [with icon]</p>
<div class="as-example row mb-4">
    <div class="col-12 col-md-4 d-flex flex-column">
        <button class="as-btn as-btn--56 as-btn--primary d-flex align-items-center">
            <i class="icon-button icon-24" aria-hidden="true"></i>
            <span class="d-flex flex-grow-1 pl-16">Button</span>
            <i class="icon-right-open-mini icon-18 d-flex" aria-hidden="true"></i>
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--56 as-btn--primary d-flex align-items-center" disabled>
            <i class="icon-button icon-24" aria-hidden="true"></i>
            <span class="d-flex flex-grow-1 pl-16">Button</span>
            <i class="icon-right-open-mini icon-18 d-flex" aria-hidden="true"></i>
        </button>


    </div>
    <div class="col-12 offset-md-1 col-md-7 d-flex align-items-center">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="button56Primary"></code></pre>
    </div>
</div>

<p class="mb-1">Primary 56 [with icon] Alternative [validation] </p>

<div class="as-example row mb-5">
    <div class="col-12 col-md-4 d-flex flex-column">
        <button class="as-btn as-btn--56 as-btn--success d-flex align-items-center">
            <i class="icon-button icon-24" aria-hidden="true"></i>
            <span class="d-flex flex-grow-1 pl-16">Button</span>
            <i class="icon-right-open-mini icon-18 d-flex" aria-hidden="true"></i>
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--56 as-btn--danger d-flex align-items-center">
            <i class="icon-button icon-24" aria-hidden="true"></i>
            <span class="d-flex flex-grow-1 pl-16">Button</span>
            <i class="icon-right-open-mini icon-18 d-flex" aria-hidden="true"></i>
        </button>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex align-items-center">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="button56SuccessDanger"></code></pre>
    </div>

</div>

<p class="mb-1">Secondary 56 [with icon]</p>

<div class="as-example row mb-4">
    <div class="col-12 col-md-4 d-flex flex-column">
        <button class="as-btn as-btn--56 as-btn--secondary d-flex align-items-center">
            <i class="icon-button icon-24" aria-hidden="true"></i>
            <span class="d-flex flex-grow-1 pl-16">Button</span>
            <i class="as-btn__icon-arrow icon-right-open-mini icon-18 d-flex" aria-hidden="true"></i>
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--56 as-btn--secondary d-flex align-items-center" disabled>
            <i class="icon-button icon-24" aria-hidden="true"></i>
            <span class="d-flex flex-grow-1 pl-16">Button</span>
            <i class="as-btn__icon-arrow icon-right-open-mini icon-18 d-flex" aria-hidden="true"></i>
        </button>

        <div class="my-2"></div>

        <p class="mb-1">Secondary button [selected]</p>

        <button class="as-btn as-btn--56 as-btn--secondary d-flex align-items-center as-btn--selected">
            <i class="icon-button icon-24" aria-hidden="true"></i>
            <span class="d-flex flex-grow-1 pl-16">Button</span>
            <i class="as-btn__icon-arrow icon-right-open-mini icon-18 d-flex" aria-hidden="true"></i>
        </button>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex align-items-center">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="secondary56"></code></pre>
    </div>

</div>

<p class="mb-1">Warning 56 [with icon]</p>

<div class="as-example row mb-5">
    <div class="col-12 col-md-4 d-flex flex-column">
        <button class="as-btn as-btn--56 as-btn--secondary--danger d-flex align-items-center">
            <i class="icon-button icon-24" aria-hidden="true"></i>
            <span class="d-flex flex-grow-1 pl-16">Button</span>
            <i class="as-btn__icon-arrow icon-right-open-mini icon-18 d-flex" aria-hidden="true"></i>
        </button>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex align-items-center">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="secondary56Danger"></code></pre>
    </div>

</div>

<p class="mb-1">Primary 56 [without icon]</p>

<div class="as-example row mb-4">
    <div class="col-12 col-md-4 d-flex flex-column">
        <button class="as-btn as-btn--56 as-btn--primary">
            Button
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--56 as-btn--primary" disabled>
           Button
        </button>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex align-items-center">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="primary56"></code></pre>
    </div>

</div>

<p class="mb-1">Primary 56 Alternative [validation]</p>

<div class="as-example row mb-5">
    <div class="col-12 col-md-4 d-flex flex-column">
        <button class="as-btn as-btn--56 as-btn--success">
            Button
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--56 as-btn--danger">
           Button
        </button>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex align-items-center">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="primary56SuccessDanger"></code></pre>
    </div>

</div>

<p class="mb-1">Secondary 56 [without icon]</p>

<div class="as-example row mb-5">
    <div class="col-12 col-md-4 d-flex flex-column">
        <button class="as-btn as-btn--56 as-btn--secondary">
            Button
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--56 as-btn--secondary" disabled>
           Button
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--56 as-btn--secondary--danger">
           Button
        </button>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex align-items-center">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="secondary56WithoutIcon"></code></pre>
    </div>

</div>

<p class="mb-1">Primary 40</p>

<div class="as-example row mb-5">
    <div class="col-12 col-md-4">
        <button class="as-btn as-btn--40 as-btn--primary">
            Button
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--40 as-btn--primary" disabled>
           Button
        </button>

        <div class="my-4"></div>

        <button class="as-btn as-btn--40 as-btn--secondary">
           Button
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--40 as-btn--secondary" disabled>
            Button
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--40 as-btn--secondary as-btn--selected">
            Button
        </button>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex align-items-center">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="btn40"></code></pre>
    </div>

</div>

<p class="mb-1">Primary Icon 40</p>

<div class="as-example row mb-5">
    <div class="col-12 col-md-4">
        <button class="as-btn as-btn--icon as-btn--primary">
            <i class="icon-right-dir d-flex"></i>
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--icon as-btn--primary" disabled>
            <i class="icon-right-dir d-flex"></i>
        </button>

        <div class="my-4"></div>

        <button class="as-btn as-btn--icon as-btn--secondary">
            <i class="icon-right-dir d-flex"></i>
        </button>

        <div class="my-2"></div>

        <button class="as-btn as-btn--icon as-btn--secondary" disabled>
            <i class="icon-right-dir d-flex"></i>
        </button>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex align-items-center">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="icon40"></code></pre>
    </div>

</div>