<div class="title-wrapper mb-5 p-5 jumbotron jumbotron-fluid w-100">
  <div class="display-4 mb-3">Typography</div>
  <div class="lead">The main font used across the application is called Open Sans and it’s created by designer Steve Matteson. 
  </div>
  <div class="lead">There are two categories of typography: Headings and Body texts.</div>
</div>

<div class="sub-title-wrapper mb-1">
  <h3>Open sans</h3>
</div>

<p class="mb-1">Heading H1</p>
<div class="as-example row mb-4">
  <div class="col-12 col-md-6">
      <h1>The quick brown fox</h1>
      <div class="h1">jumps over the lazy dog.</div>
  </div>
  <div class="col-12 col-md-6 d-flex align-items-center">
      <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="codeH1"></code></pre>
  </div>
</div>

<p class="mb-1">Heading H2</p>
<div class="as-example row mb-4">
  <div class="col-12 col-md-6">
      <h2>The quick brown fox</h2>
      <div class="h2">jumps over the lazy dog.</div>
  </div>
  <div class="col-12 col-md-6 d-flex align-items-center">
      <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="codeH2"></code></pre>
  </div>
</div>

<p class="mb-1">Heading H3</p>
<div class="as-example row mb-4">
  <div class="col-12 col-md-6">
      <h3>The quick brown fox</h3>
      <div class="h3">jumps over the lazy dog.</div>
  </div>
  <div class="col-12 col-md-6 d-flex align-items-center">
      <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="codeH3" ></code></pre>
  </div>
</div>

<p class="mb-1">Heading H4</p>
<div class="as-example row mb-4">
  <div class="col-12 col-md-6">
      <h4>The quick brown fox</h4>
      <div class="h4">jumps over the lazy dog.</div>
  </div>
  <div class="col-12 col-md-6 d-flex align-items-center">
      <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="codeH4"></code></pre>
  </div>
</div>

<p class="mb-1">Heading H5</p>
<div class="as-example row mb-4">
  <div class="col-12 col-md-6">
      <h5>The quick brown fox</h5>
      <div class="h5">jumps over the lazy dog.</div>
  </div>
  <div class="col-12 col-md-6 d-flex align-items-center">
      <pre class="w-100 mb-0"><code  class="p-3 rounded" [highlight]="codeH5" ></code></pre>
  </div>
</div>

<p class="mb-1">Heading H6</p>
<div class="as-example row mb-4">
  <div class="col-12 col-md-6">
      <h6>The quick brown fox</h6>
      <div class="h6">jumps over the lazy dog.</div>
  </div>
  <div class="col-12 col-md-6 d-flex align-items-center">
      <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="codeH6" ></code></pre>
  </div>
</div>

<p class="mb-1">Paragraph</p>
<div class="as-example row mb-4">
  <div class="col-12 col-md-6">
      <p>The quick brown fox</p>
      <div class="p">jumps over the lazy dog.</div>
  </div>
  <div class="col-12 col-md-6 d-flex align-items-center">
      <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="codeP" ></code></pre>
  </div>
</div>