<div class="title-wrapper mb-5 p-5 jumbotron jumbotron-fluid w-100">
    <div class="display-4 mb-3">Snackbar</div>
    <div class="lead">Snackbar is a notification component, and you can show messages with success, info, warning and error commands</div>
</div>
  
<div class="as-example row mb-5">
    <div class="col-12 col-md-12 d-flex flex-column">
        <div class="d-flex flex-row justify-content-between mb-5">
           <button class="as-btn as-btn--56 as-btn--success" (click)="showSuccess()">Open Success Snackbar</button>
           <button class="as-btn as-btn--56 as-btn--primary mx-2" (click)="showInfo()">Open Info Snackbar</button>
           <!-- <button class="as-btn as-btn--56 as-btn--warning" (click)="showWarning()">Open Warning Snakbar</button> -->
           <button class="as-btn as-btn--56 as-btn--danger" (click)="showError()">Open Error Snackbar</button>
        </div>

    </div>
</div>
