<div class="title-wrapper mb-5 p-5 jumbotron jumbotron-fluid w-100">
    <div class="display-4 mb-3">Timeline Cards</div>
    <div class="lead"></div>
</div>

<div class="as-example mb-5">
    <div class="row">
            <div class="col-12 col-md-8 col-lg-6  d-flex flex-column">
                <h4 class="mb-4">Appointment cards</h4>
        
                <div class="cards d-flex flex-row align-items-center">
                    <div class="cards-col px-24 border-right h-100 d-flex align-items-center text-primary">
                        <i class="icon-appointment icon-24"></i>
                    </div>
                    <div class="cards-col cards-col--160 cards-col--mw-0 px-24">
                        <p class="mb-0 font-weight-600 text-ellipsis" title="09:00 - 09:30">09:00 - 09:30 <span><i class="icon-alert-triangle icon-14 text-disabled"></i></span></p>
                        <p class="text-ellipsis" title="30 minutes"><small>30 minutes</small></p>
                    </div>
                    <div class="cards-col cards-col--mw-0 flex-grow-1">
                        <p class="font-weight-600 text-ellipsis" title="Melinda Melhu">Melinda Melhus</p>
                        <p class="text-ellipsis" title="Knee problems"><small>Knee problems</small></p>
                    </div>
                    <div class="cards-col px-24">
                        <span class="as-chip">CON</span>
                    </div>
                </div>
        
                <div class="cards d-flex flex-row align-items-center">
                    <div class="cards-col px-24 border-right h-100 d-flex align-items-center text-primary">
                        <i class="icon-appointment icon-24"></i>
                    </div>
                    <div class="cards-col cards-col--160 cards-col--mw-0 px-24">
                        <p class="mb-0 font-weight-600 text-ellipsis" title="09:00 - 09:30">19:00 - 20:30 <span><i class="icon-alert-triangle icon-14 text-disabled"></i></span></p>
                        <p class="text-ellipsis" title="30 minutes"><small>200 minutes</small></p>
                    </div>
                    <div class="cards-col cards-col--mw-0 flex-grow-1">
                        <p class="font-weight-600 text-ellipsis" title="Melinda Melhu">Melinda MelhusMelinda Melhus</p>
                        <p class="text-ellipsis" title="Knee problems"><small>Knee problems</small></p>
                    </div>
                    <div class="cards-col px-24">
                        <span class="as-chip">CON</span>
                    </div>
                </div>
            
            </div>
            
            <div class="col-12 col-md-4 col-lg-6 d-flex">
                <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="appcards"></code></pre>
            </div>
    </div>

    <div class="row mt-5">
            <div class="col-12 col-md-8 col-lg-6  d-flex flex-column">
                <h4 class="mb-4">Free slot card</h4>
        
                <div class="cards cards--40 cards--success d-flex flex-row align-items-center">
                    <div class="cards-col px-24 border-right-success h-100 d-flex align-items-center text-success">
                        <i class="icon-plus icon-24"></i>
                    </div>
                    <div class="cards-col cards-col--160 cards-col--mw-0 px-24">
                        <p class="mb-0 font-weight-600 text-ellipsis" title="09:00 - 09:30">09:00 - 09:30</p>
                    </div>
                    <div class="cards-col cards-col--mw-0 flex-grow-1">
                        <p class="font-weight-600 text-ellipsis" title="30 minutes">30 minutes</p>
                    </div>
                </div>
        
            </div>
            
            <div class="col-12 col-md-4 col-lg-6 d-flex">
                <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="freeslot"></code></pre>
            </div>
    </div>
    
</div>
