<div class="title-wrapper mb-5 p-5 jumbotron jumbotron-fluid w-100">
    <div class="display-4 mb-3">Badges</div>
    <div class="lead">Documentation and examples for badges, our small count and labeling component.</div>
</div>

<div class="sub-title-wrapper mb-3">
    <h3>Chips</h3>
</div>

<div class="as-example row mb-5">
    <div class="col-12 col-md-4">
        <div class="d-flex flex-wrap">
            <span class="as-chip m-1">Label</span>
            <span class="as-chip m-1">Second Label</span>
            <span class="as-chip m-1">Third Label</span>
            <span class="as-chip m-1">Fourth Label</span>
            <span class="as-chip m-1">Fifth Label</span>
            <span class="as-chip m-1">Sixth Label</span>
        </div>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="chips"></code></pre>
    </div>
</div>

<div class="sub-title-wrapper mb-3">
    <h3>Number Indicators</h3>
</div>

<div class="as-example row mb-5">
    <div class="col-12 col-md-4">
        <div class="d-flex flex-wrap">
            <span class="as-num-chip mr-4">2</span>
            <span class="as-num-chip mr-4">20</span>
            <span class="as-num-chip mr-4">200</span>
            <span class="as-num-chip">2000</span>
        </div>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="numberChips"></code></pre>
    </div>
</div>