<div class="title-wrapper mb-5 p-5 jumbotron jumbotron-fluid w-100">
    <div class="display-4 mb-3">Tooltip</div>
    <div class="lead">Small pop-up box that appears when the user moves the mouse pointer over an element</div>
</div>

<div class="as-example row mb-5">
    <div class="col-12 col-md-4">
        <button type="button" class="btn btn-default btn-secondary m-1"
            tooltip="Vivamus sagittis lacus" placement="top" containerClass="as-tooltip" >
            Tooltip on top
        </button>

        <button type="button" class="btn btn-default btn-secondary m-1"
            tooltip="Vivamus sagittis lacus" placement="right" containerClass="as-tooltip">
            Tooltip on right
        </button>

        <button type="button" class="btn btn-default btn-secondary m-1"
            tooltip="Vivamus sagittis lacus" placement="left" containerClass="as-tooltip">
            Tooltip on left
        </button>

        <button type="button" class="btn btn-default btn-secondary m-1"
            tooltip="Vivamus sagittis lacus" placement="bottom" containerClass="as-tooltip">
            Tooltip on bottom
        </button>

        <p class="py-3"><a href="https://valor-software.com/ngx-bootstrap/#/tooltip" target="_blank">Click here</a> to view more options related to tooltips</p>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="tooltip"></code></pre>
    </div>
</div>