<div class="title-wrapper mb-5 p-5 jumbotron jumbotron-fluid w-100">
  <div class="display-4 mb-3">Color Palette</div>
  <div class="lead">Color palette relies on core solid colors supported by a range of additional secondary palette.
  </div>
</div>
<div class="sub-title-wrapper mb-3">
  <h3>Primary Color</h3>
  <p>The primary colour is Blue, available in a couple shades to use across different parts of application.</p>
</div>
<div class="as-example">
  <div class="p-3 mb-2 bg-blue-100 text-dark">.bg-blue-100</div>
  <div class="p-3 mb-2 bg-blue-200 text-dark">.bg-blue-200</div>
  <div class="p-3 mb-2 bg-blue-300 text-dark">.bg-blue-300</div>
  <div class="p-3 mb-2 bg-blue-400 text-dark">.bg-blue-400</div>
  <div class="p-3 mb-2 bg-blue-500 text-dark">.bg-blue-500</div>
  <div class="p-3 mb-2 bg-blue-600 text-white">.bg-blue-600</div>
  <div class="p-3 mb-2 bg-blue-700 text-white">.bg-blue-700</div>
  <div class="p-3 mb-2 bg-blue-800 text-white">.bg-blue-800</div>
</div>


<div class="sub-title-wrapper mt-5 mb-3">
  <h3>Secondary Colors</h3>
  <p>Secondary colours are used to lighten up the User Interface and validate or highlight some UI elements, with
      smaller emphasize than primary colours.</p>
</div>
<div class="as-example row px-2">
  <div class="col-12 col-lg-2">
      <div class="p-3 mb-2 w-100 bg-green-100 text-dark">.bg-green-100</div>
      <div class="p-3 mb-2 w-100 bg-green-200 text-white">.bg-green-200</div>
      <div class="p-3 mb-2 w-100 bg-green-300 text-white">.bg-green-300</div>
  </div>
  <div class="col-12 col-lg-2">
      <div class="p-3 mb-2 w-100 bg-red-100 text-dark">.bg-red-100</div>
      <div class="p-3 mb-2 w-100 bg-red-200 text-white">.bg-red-200</div>
      <div class="p-3 mb-2 w-100 bg-red-300 text-white">.bg-red-300</div>
      <div class="p-3 mb-2 w-100 bg-red-400 text-white">.bg-red-400</div>
  </div>
  <div class="col-12 col-lg-2">
      <div class="p-3 mb-2 w-100 bg-orange-100 text-dark">.bg-orange-100</div>
      <div class="p-3 mb-2 w-100 bg-orange-200 text-white">.bg-orange-200</div>
  </div>
  <div class="col-12 col-lg-2">
      <div class="p-3 mb-2 w-100 bg-yellow-100 text-dark">.bg-yellow-100</div>
      <div class="p-3 mb-2 w-100 bg-yellow-200 text-dark">.bg-yellow-200</div>
      <div class="p-3 mb-2 w-100 bg-yellow-300 text-dark">.bg-yellow-300</div>
  </div>
  <div class="col-12 col-lg-2">
      <div class="p-3 mb-2 w-100 bg-gray-100 text-dark">.bg-gray-100</div>
      <div class="p-3 mb-2 w-100 bg-gray-200 text-dark">.bg-gray-200</div>
      <div class="p-3 mb-2 w-100 bg-gray-300 text-dark">.bg-gray-300</div>
      <div class="p-3 mb-2 w-100 bg-gray-400 text-dark">.bg-gray-400</div>
      <div class="p-3 mb-2 w-100 bg-gray-500 text-white">.bg-gray-500</div>
      <div class="p-3 mb-2 w-100 bg-gray-600 text-white">.bg-gray-600</div>
      <div class="p-3 mb-2 w-100 bg-black-200 text-white">.bg-black-200</div>
      <div class="p-3 mb-2 w-100 bg-black-100 text-white">.bg-black-100</div>
  </div>
  <div class="col-12 col-lg-2">
      <div class="p-3 mb-2 w-100 bg-white-100 text-dark">.bg-white-100</div>
      <div class="p-3 mb-2 w-100 bg-white-200 text-dark">.bg-white-200</div>
  </div>
</div>

<div class="sub-title-wrapper mt-5 mb-3">
  <h3>Text Colors</h3>
</div>

<div class="as-example">
  <p class="as-text-primary mb-2">.as-text-primary</p>
  <p class="as-text-secondary mb-2">.as-text-secondary</p>
  <p class="as-text-success mb-2">.as-text-success</p>
  <p class="as-text-danger mb-2">.as-text-danger</p>
  <p class="as-text-warning mb-2">.as-text-warning</p>
  <p class="as-text-white mb-2 bg-dark">.as-text-white</p>
  <p class="as-text-black">.as-text-black</p>
</div>