<div class="title-wrapper mb-5 p-5 jumbotron jumbotron-fluid w-100">
    <div class="display-4 mb-3">Avatars</div>
    <div class="lead">Avatars are used for user differentiation,
        to keep consistency,
        there are two sizes allowed to use through Medica application. </div>
</div>
<div class="sub-title-wrapper mb-3">
    <h3>Initials</h3>
</div>
<div class="as-example row mb-5">
    <div class="col-12 col-md-4">
        <div class="d-flex flex-row justify-content-between align-items-center bg-gray-300 p-5">
            <div class="avatar avatar--64 avatar--primary d-flex align-items-center justify-content-center">
                <span class="avatar__text">MM</span>
            </div>
            <div class="avatar avatar--32 avatar--primary d-flex align-items-center justify-content-center">
                <span class="avatar__text">MM</span>
            </div>
        </div>
    </div>
    <div class="col-12 offset-md-1 col-md-7 d-flex">
        <pre class="w-100 mb-0"><code class="p-3 rounded"[highlight]="avatarText"></code></pre>
    </div>
</div>
<div class="sub-title-wrapper mb-3">
    <h3>Picture</h3>
</div>
<div class="as-example row mb-5">
    <div class="col-12 col-md-4">
        <div class="d-flex flex-row justify-content-between align-items-center bg-gray-300 p-5">
            <div class="avatar avatar--64 avatar--primary d-flex align-items-center justify-content-center">
                <img class="rounded-circle" src="https://i.pravatar.cc/64" width="64" height="64" />
            </div>
            <div class="avatar avatar--32 avatar--primary d-flex align-items-center justify-content-center">
                <img class="rounded-circle" src="https://i.pravatar.cc/32" width="32" height="32" />
            </div>
        </div>
    </div>
    <div class="col-12 offset-md-1 col-md-7 d-flex">
        <pre class="w-100 mb-0"><code class="p-3 rounded"[highlight]="avatarImg"></code></pre>
    </div>
</div>