<div class="sub-title-wrapper mb-3">
    <h3>Segmented controls</h3>
</div>

<div class="as-example row mb-5">
    <div class="col-12 col-md-4 d-flex flex-column">
        <div class="as-tabs as-tabs--small">
            <div class="as-tabs__item as-tabs__item--active border-right-0">Selected</div>
            <div class="as-tabs__item border-right-0">Option</div>
            <div class="as-tabs__item">Option</div>
        </div>
    </div>

    <div class="col-12 offset-md-1 col-md-7 d-flex">
        <pre class="w-100 mb-0"><code class="p-3 rounded" [highlight]="segmentedControls"></code></pre>
    </div>
</div>